<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>CurseForge Badge</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">CurseForge Badges - The ugly API documentation page</h1>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">
                <header>
                    <h1>Usage</h1>
                    <p>The base url is <a href="http://cf.way2muchnoise.eu">http://cf.way2muchnoise.eu</a>. This url can be appended by following patterns. Use of https is available, but GitHub doesn't seem to like that.</p>
                </header>
                <section>
                    <h2>/&lt;project&gt;.svg</h2>
                    <p>project being either the id or name(link in the url).</p>
                    <ul>
                        <li><a href="https://minecraft.curseforge.com/projects/just-enough-resources-jer"><img src="https://cf.way2muchnoise.eu/240630.svg" style="max-width:100%;"></a> -&gt; <code>http://cf.way2muchnoise.eu/240630.svg</code></li>
                        <li><a href="https://minecraft.curseforge.com/projects/just-enough-items-jei"><img src="https://cf.way2muchnoise.eu/just-enough-items-jei.svg" style="max-width:100%;"></a> -&gt; <code>http://cf.way2muchnoise.eu/just-enough-items-jei.svg</code></li>
                    </ul>
                </section>
                <section>
                    <h2>/&lt;style&gt;_&lt;project&gt;_&lt;extra&gt;.svg</h2>
                    <p>style can either 'short' or 'full', extra is optional text to be appended.</p>
                    <ul>
                        <li><a href="https://minecraft.curseforge.com/projects/just-enough-items-jei"><img src="https://cf.way2muchnoise.eu/short_just-enough-items-jei.svg" style="max-width:100%;"></a> -&gt; <code>http://cf.way2muchnoise.eu/short_just-enough-items-jei.svg</code></li>
                        <li><a href="https://minecraft.curseforge.com/projects/just-enough-resources-jer"><img src="https://cf.way2muchnoise.eu/full_240630_downloads.svg" style="max-width:100%;"></a> -&gt; <code>http://cf.way2muchnoise.eu/full_240630_downloads.svg</code></li>
                    </ul>
                </section>
                <section>
                    <h2>/versions/&lt;project&gt;.svg</h2>
                    <p>project being either the id or name(link in the url)</p>
                    <ul>
                        <li><a href="https://minecraft.curseforge.com/projects/just-enough-items-jei"><img src="https://cf.way2muchnoise.eu/versions/just-enough-items-jei.svg" style="max-width:100%;"></a> -&gt; <code>http://cf.way2muchnoise.eu/versions/just-enough-items-jei.svg</code></li>
                        <li><a href="https://minecraft.curseforge.com/projects/just-enough-resources-jer"><img src="https://cf.way2muchnoise.eu/versions/240630.svg" style="max-width:100%;"></a> -&gt; <code>http://cf.way2muchnoise.eu/versions/240630.svg</code></li>
                    </ul>
                </section>
                <section>
                    <h2>/versions/&lt;text&gt;_&lt;project&gt;_&lt;style&gt;.svg</h2>
                    <p>text is optional and replaces the default 'Available for' text. The style can be either 'all' or 'latest'</p>
                    <ul>
                        <li><a href="https://minecraft.curseforge.com/projects/just-enough-items-jei"><img src="https://cf.way2muchnoise.eu/versions/just-enough-items-jei_latest.svg" style="max-width:100%;"></a> -&gt; <code>http://cf.way2muchnoise.eu/versions/just-enough-items-jei_latest.svg</code></li>
                        <li><a href="https://minecraft.curseforge.com/projects/just-enough-resources-jer"><img src="https://cf.way2muchnoise.eu/versions/For%20MC_240630_all.svg" style="max-width:100%;"></a> -&gt; <code>http://cf.way2muchnoise.eu/versions/For%20MC_240630_all.svg</code></li>
                    </ul>
                </section>
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container" style="">
            <footer class="wrapper">
                <h3>Made by <a href="https://twitter.com/way2muchnoise">@way2muchnoise</a>, using the <a href="http://www.initializr.com/">Initializr boilerplate</a>, source available on
                    <a href="https://github.com/way2muchnoise/CurseForgeBadge">Github</a></h3>
            </footer>
        </div>

        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
